{{!-- <footer class="footer text-center mt-5">
        <p class="text-small">All Rights Reserved nodeChat 2020 by <a href="https://atuoha.github.io">Atutechs Corp</a> &copy;  </p>
 </footer> --}}
 <script src="/js/jquery.js"></script>
 <script src="/js/bootstrap.js"></script>
 <script src="/js/custom.js"></script>

